html, body {
  color: #3c5566;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

html {
  background: url(../img/background.jpg);
  background-size: cover;
}

header {
  padding-bottom: 40px;
}

#score {
  background-color: #43a3e6;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(143,133,117,1);
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  height: 55px;
  padding: 15px 25px;
  text-align: center;
  width: 80px;
}

h1 {
  font-size: 80px;
  letter-spacing: 2px;
  text-align: right;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

#container {
  margin: 40px auto;
  width: 622px;
}

#main {
  position: relative;
}

#game-board,
#tile-container,
#game-over {
  background: #3582b8;
  border-radius: 4px;
  padding: 10px;
}

#game-board {
  box-shadow: 1px 1px 10px 0 #999;
}

.clearfix {
  clear: both;
}

.row {
  height: 100%;
  width: 100%;
}

.cell,
.tile {
  background: rgba(225, 226, 241, 0.5);
  border-radius: 4px;
  box-sizing: border-box;
  height: 130px;
  float: left;
  margin: 10px;
  width: 130px;
}

.tile {
  background: rgba(225, 226, 241, 0.35);
  box-sizing: border-box;
  color: #fff;
  float: none;
  font-size: 55px;
  font-weight: bold;
  padding-top: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.tile.val-2 {
  background: #93d2ff;
}

.tile.val-4 {
  background: #4ab5ff;
}

.tile.val-8 {
  background: #289cef;
}

.tile.val-16 {
  background: #2a72a3;
}

.tile.val-32 {
  background: #105a86;
}

.tile.val-64 {
  background: #00548c;
}

.tile.val-128 {
  background: #004777;
}

.tile.val-256 {
  background: #002c4a;
}

.tile.val-512 {
  background: #000F35;
}

.tile.val-1024 {
  background: #000921;
  font-size: 50px;
  padding-top: 35px;
}

.tile.val-2048 {
  background: #009894;
  font-size: 50px;
  padding-top: 35px;
}

#tile-container,
#game-over {
  top: 0;
  position: absolute;
}

.tile.tile-position-0-0 {
  transform: translate(0, 0);
}

.tile.tile-position-0-1 {
  transform: translate(150px, 0);
}

.tile.tile-position-0-2 {
  transform: translate(300px, 0);
}

.tile.tile-position-0-3 {
  transform: translate(450px, 0);
}

.tile.tile-position-1-0 {
  transform: translate(0, 150px);
}

.tile.tile-position-1-1 {
  transform: translate(150px, 150px);
}

.tile.tile-position-1-2 {
  transform: translate(300px, 150px);
}

.tile.tile-position-1-3 {
  transform: translate(450px, 150px);
}

.tile.tile-position-2-0 {
  transform: translate(0, 300px);
}

.tile.tile-position-2-1 {
  transform: translate(150px, 300px);
}

.tile.tile-position-2-2 {
  transform: translate(300px, 300px);
}

.tile.tile-position-2-3 {
  transform: translate(450px, 300px);
}

.tile.tile-position-3-0 {
  transform: translate(0, 450px);
}

.tile.tile-position-3-1 {
  transform: translate(150px, 450px);
}

.tile.tile-position-3-2 {
  transform: translate(300px, 450px);
}

.tile.tile-position-3-3 {
  transform: translate(450px, 450px);
}

#game-over {
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  color: #3582b8;
  font-size: 40px;
  font-weight: bold;
  height: 620px;
  padding-top: 200px;
  text-align: center;
  width: 622px;
}

#game-over.hide {
  display: none;
}

#game-over .won,
#game-over .lost {
  display: none;
}

#game-over.show-won .won,
#game-over.show-lost .lost {
  display: inline;
}

#game-over p {
  font-weight: normal;
}

#user-win {
  background: rgba(28, 230, 220, 0.4);
  box-sizing: border-box;
  box-shadow: 0px 0px 44px 6px rgba(255,255,255,1);
  color: #3582b8;
  font-size: 40px;
  font-weight: bold;
  height: 620px;
  padding-top: 200px;
  text-align: center;
  width: 622px;
}

#user-win.hide {
  display: none;
}
